<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113785121744-3ueiub87oc3haphs5hq8pcpkidb5mb61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113785121744-3ueiub87oc3haphs5hq8pcpkidb5mb61</string>
	<key>API_KEY</key>
	<string>AIzaSyD1tSm3JByVw8eHXyyUuN3AL3X2AVf5Y6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>113785121744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.everytimeCloned</string>
	<key>PROJECT_ID</key>
	<string>everytime-cloned</string>
	<key>STORAGE_BUCKET</key>
	<string>everytime-cloned.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113785121744:ios:39e5b8aac1d6c19e41a7d5</string>
</dict>
</plist>